div {
  font-family: arial;
  font-size: 15px;
}

.first:hover {
  color: red;
  cursor: pointer;
}

.third:hover {
  color: red;
  cursor: pointer;
}

.fourth:hover {
  color: red;
  cursor: pointer;
}


.sixth:hover {
  color: red;
  cursor: pointer;
}


.headers {
  font-family: arial;
  font-size: 15px;
}

.special {
  font-family: arial;
}

span {
  font-family: arial;
}


.eighth {
	font-size: 30px;
	color: black;
	display: block;
	margin-top: 25px;
	border: 2px solid grey;
	background-color: #D3D3D3;
	padding: 6px 0px;
	max-width: 400px;
}

.ninth {
	visibility: hidden;
	font-weight: bold;
}

.tenth {
	visibility: hidden;
	font-weight: bold;
}

.eleventh {
	visibility: hidden;
	font-weight: bold;
}
mjx-menclose{
	top: -15px;
}
mjx-block {
    display: block;
    top: -15px;
}
.twelfth {
	visibility: hidden;
	font-weight: bold;
}
.thirteenth {
	color: green;
	visibility: hidden;
	font-size:7px;
}

.thirteenth i{
	position: relative;
    top: -4px;
}
	

.fourteenth {
	color: green;
	visibility: hidden;
	font-size:7px;
}
.fourteenth i{
	position: relative;
    top: -4px;
}

.fifteenth {
	color: red;
	visibility: hidden;
	font-size:7px;
}

.fifteenth i{
	position: relative;
    top: -4px;
	
}

.sixteenth {
	color: green;
	visibility: hidden;
	font-size:7px;
}

.sixteenth i{
	position: relative;
    top: -4px;
	width: 6px;
}

.flow_btn {
    position: absolute;
    top: 63%;
    left: 350px;
}

.flow_btn_special:hover {
  background-color: #0897be;
  cursor: pointer;
}

.flow_btn_special{
    background-color: #017393;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 7px 25px;
}

span.flow_btn_icon {
    position: absolute;
    margin-left: 4px;
    margin-top: 5px;
}

.nineteenth {
	visibility: visible;
	position:relative;
}
button{
	padding: 5px 15px;
    margin: 0 auto;
}
.flow_btn span.tooltip__content {
	bottom: 28px;
	right: -150px;
    width: 370px;
}

.ninth span.tooltip__content {
    width: 250px;
    left: 20px;
    bottom: 25px;
} 

.tenth span.tooltip__content {
    width: 250px;
    left: 20px;
    bottom: 25px;
}

.eleventh span.tooltip__content {
    width: 250px;
    left: 20px;
    bottom: 25px;
}

.twelfth span.tooltip__content {
    width: 250px;
    left: 20px;
    bottom: 25px;
}




.final {
	visibility: visible;
}

.myform1 {
	visibility: hidden;
	width: 85%;
	text-align: center;
	margin:auto;
	position: relative;
	left: -25px;
	top:-10px;
}

.myform2 {
	visibility: hidden;
	width: 85%;
	text-align: center;
	margin:auto;
	left: -25px;
	top:-10px;
}

.myform3 {
	visibility: hidden;
	width: 85%;
	text-align: center;
	margin:auto;
	left: -25px;
	top:-10px;
}

.myform4 {
	visibility: hidden;
	width: 85%;
	text-align: center;
	margin:auto;
	left: -25px;
	top:-10px;
}

.icon_img{
	width: 14px;
    height: 14px;
	
}


.btn_reload:hover {
  background-color: #0897be;
  cursor: pointer;
}

.btn_reload{  
	padding: 7px 25px; 
	margin-left:35px; 
	background-color: #017393;
	border: none;
	color: white;
    border-radius: 3px;
	 }


form .icon_img {
    position: absolute;
    top: 4px;
    right: 0px;
}

[data-click-state="0"] {
	position: relative;
    left: 6px;
}

.button_img{
	position:relative;
	top:3px;
}
.tooltip_img img{
	position:relative;	
	right: 0;
    top: 1px;
}
form {
    position: relative;
}
span.btn_icon {
    position: absolute;
    margin-left: 4px;
    margin-top: 7px;
}

.btn_icon span.tooltip__content {
    width: 250px;
    left: -265px;
}


.Assumptions1 {
	    font-size: 10px;
	    width: 80%;

}

.Assumptions2 {
	    font-size: 10px;
	    width: 80%;
}

.Assumptions3 {
	    font-size: 10px;
	    width: 80%;
}

.Assumptions4 {
	    font-size: 10px;
	    width: 80%;
}

.fifteenth .relative i.fa.fa-times{
	padding: 3px 4px;
}
.clear{
	clear:both;
}
.main_grid{
	display: grid;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	max-width: 800px;
	text-align: center;
	height: 50px;
	margin: 40px 0 10px 0;
	font-size: 25px;
}
.ans_btn {
    padding: 7px 25px;
    margin: 0 auto;
    background-color: #017393;
    border: none;
    color: white;
    border-radius: 3px;
}

.ans_btn:hover {
  background-color: #0897be;
  cursor: pointer;
}

.center_btn{
	max-width:900px;
	text-align:center;
	    margin-top: 20px;
}
:focus{
	outline:none;
}
.main_grid2{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	max-width: 800px;
	text-align: center;
	height: 30px;
}
.nineteenth mjx-menclose {
    position: relative;
    top: 0px;
}
.nineteenth mjx-mpadded {
    position: relative;
    top: 12px;
}
.nineteenth i{
	border-radius:50%;
	color:#fff;
	padding:3px;
}

.nineteenth .tooltip {
	position: absolute;
    top: 3px;
}
.seventeenth{
	position: absolute;
    margin-left: 6px;
    font-size: 16px;
}
.mystyle{
	margin-top: -9px;
}

.tooltip {
  cursor: pointer;
  display:none;
}

.tooltip .tooltip__content {
    background-color: #f1f1f1;
    border-radius: 4px;
    bottom: 118%;
    color: #000000;
    right: -85%;
    opacity: 0;
    padding: 0px;
    border: 2px solid #f1f1f1;
    position: absolute;
    text-align: left;
    transition: opacity 0.5s;
    visibility: hidden;
    width: 185%;
    z-index: 1;
}
.tooltip_header {
    width: 100%;
	    padding-left: 5px;
    font-size: 16px;
}
.tooltip .tooltip__content::after {
     border-width: 8px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent;
    content: "";
    right: 40%;
  position: absolute;
  top: 100%;
}
p.tooltip_header i {
    position: initial;
    padding: 3px 4px;
    font-size: 9px;
	margin:0;
	border-radius: 50%;
}
.contant_tooltip {
background: #fff;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    font-weight: 400;
}
.relative{
	position:relative;
}

.tooltip:hover .tooltip__content {
  opacity: 1;
  visibility: visible;
}
.center_btn{position:relative;}
.center_btn .tooltip .tooltip__content{
    width: max-content;
    bottom: 27px;
    color: #000000;
    right: -172px;
    margin-left: 0;
}
.tooltip .relative .tooltip__content{
    right: -93px;
    width: 224px;
    bottom: 24px;
}
